{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
	<link href="{% static 'css/fitur_cariMahasiswa.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>
    </title>
	<style>
		.navbar-default{
			background-color: black;
			margin-bottom: 0;
		}
		.container2{
			text-align: center;
		}

    .rata-tengah {
      text-align: center;
      margin : 20px;
    }
    .judul {
      text-transform:uppercase;
      margin-bottom: 50px;
      margin-top: 50px;
    }
	</style>
</head>
<body>
<header>
	{% include "fitur_profile/partials/header.html" %}
</header>
<content>
    <div class="container-fluid" id="mainContainer">
        {% block contents %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
    <footer>
  		<div style="text-align:center">
          {% block footer %}
          {% include "fitur_profile/partials/footer.html" %}
          {% endblock %}
  		</div>
    </footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/fitur_cariMahasiswa.js' %}"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
 var url1 = "{% url 'fitur-riwayat:riwayat' %}";
</script>
{% block javascript %}

{% endblock %}
</body>
</html>
