{% extends "fitur_profile/layout/base.html" %}
{% load staticfiles %}
{% block contents %}
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81om8qneq27p72
    authorize: true
    onLoad: onLinkedInLoad
  </script>
  <div class="container" id="editan">
    <div style="text-align:center;margin-bottom:10px;"><img id="potoo" style="height:200px;"></img></div>
    <div style="text-align:center;"><h3>{{kode_identitas}}</h3></div>
    <div style="text-align:center;"><button onclick="saveChange()" type="button" class="btn btn-primary btn-md">Simpan</button>
      <button type="button"onclick="back()" class="btn btn-primary btn-md">keluar</button>
    </div>
    <h2>Data pribadi</h2>
	  <div id="dataBaru"></div>
    <script type="in/Login"></script>
    <div>
      <h3>Keahlian</h3>
      <div id="keahlians"></div>
        {% if keahlian %}
          {% for x in keahlian %}
            <div>{{x}}</div>
          {% endfor %}
        {% endif %}
      <div>
        <select name="skillSelect">
          <option value="Java">Java</option>
          <option value="C++">C++</option>
          <option value="Python">Python</option>
          <option value="Kotlin">Kotlin</option>
          <option value="Erlang">Erlang</option>
          <option value="Perl">Perl</option>
        </select>
        <button onclick="tambahSkill()">Tambah</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script>
      var name = ""
      var email = ""
      var link = ""
      var imgUrl = ""
      function onLinkedInLoad() {
        IN.Event.on(IN, "auth", onLinkedInAuth);
      }

      // Handle the successful return from the API call
      function onSuccess(data) {
        console.log(data);
      }

      // Handle an error response from the API call
      function onError(error) {
        console.log(error);
      }

      // Use the API call wrapper to request the member's basic profile data
      function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);
      }

      function onLinkedInAuth() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "email-address"
        , "public-profile-url", "picture-url", "picture-urls::(original)", "headline", "summary", "location", "industry", "positions").result(function (data) {
          console.log(data);
          name =  data.values[0].firstName + " " + data.values[0].lastName;
          email = data.values[0].emailAddress;
          imgUrl = data.values[0].pictureUrl;
          link = data.values[0].publicProfileUrl;
          fillBio();
        }).error(function (data) {
          console.log(data);
        });
      }

      function fillBio(){
        $("#potoo").attr("src", imgUrl);
        $("#dataBaru").html(
          "<table class='table'>"+
          "<tbody>"+
            "<tr>"+
            "<td>Nama</td>"+
            "<td id='namaa'>"+
              name +
            "</td>"+
            "</tr>"+
            "<tr>"+
            "<td>Email</td>"+
            "<td id='emaill'>"+
              email +
            "</td>"+
            "</tr>"+
            "<tr>"+
            "<td>Profile LinkedIn</td>"+
            "<td id='link'>"+
              link +
            "</td>"+
            "</tr>"+
          "</tbody>"+
          "</table>"
        );
      }

      var skills = []
      var hasil = ""

      //get user skill from db
      $(document).ready(function(){
        $.ajax({
          method: "GET",
          url: "{% url 'fitur-profile:skill' %}",
          success: function(response){
            skills=response.ahli;
          }
        });
      });

      //add new skill
      function tambahSkill(){
        var skill = $('select[name=skillSelect]').val();
        if(notExist(skill)){
          skills.push(skill)
          $("#keahlians").append(
            "<p>"+skill+"</p>"
          );
        }
        console.log(skills);
      }

      //save all changes
      function saveChange(){
        getSkills();
        $.ajax({
          method: "POST",
          url: "{% url "fitur-profile:save" %}",
          data: {name:name, email:email, linkin:link, skills:hasil, url:imgUrl},
          success: function(response){
            window.location = "/fitur-profile/";
          },
          error: function(error){
            console.log(error);
          }
        });
      }

      //Check if skill is already taken
      function notExist(data){
        for(i=0; i<skills.length; i++){
          if(skills[i]===data){
            return false;
          }
        }
        return true;
      }

      //output for skill
      function getSkills(){
        for(i=0; i<skills.length; i++){
          hasil += (skills[i]+" ");
        }
      }

      function back(){
        window.location = "/fitur-profile/";
      }

  </script>
{% endblock %}
