{% extends "fitur_profile/profile.html" %}
{% block content %}
  {% if user.name == "-" %}
  <div class="alert alert-warning" role="alert">
	<strong>Profile masih kosong</strong>, isi sekarang!!
  </div>
  {% endif %}
  <table class="table">
    <tbody>
      <tr>
        <td>Nama</td>
        <td id="name">{{user.name}}</td>
      </tr>
      <tr>
        <td>NPM</td>
        <td>{{user.npm}}</td>
      </tr>
      <tr>
        <td>Keahlian</td>
        <td>
          {{user.skill}}
        </td>
      </tr>
      <tr>
        <td>e-mail</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>LinkedIn</td>
        <td>{{user.linkProfile}}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
