{% extends "fitur_profile/layout/base.html" %}
{% load staticfiles %}
{% block contents %}
<div>
  <div class="container" style="text-align:center;" id="secCont">
    <!--div style="text-align:left;">
        <h2>Selamat datang !<h2>
    </div-->
    <div class="row" id="kontainer">
      <div class="col-sm-5" id="photoContainer">
        {% if user.imgUrl != "-" %}
    		  <img id="poto" style="height:190px;" class="img-circle" src="{{user.imgUrl}}" alt="Image" />
        {% else %}
    		  <img id="poto" class="img-circle" src="{% static 'image/unknown_profile.png' %}" alt="Image" />
        {% endif %}
    		<div class="buttons">
    			<button id="forum" type="button" class="btn btn-primary btn-md">
            <i class="fa fa-comments-o" style="font-size:20px"></i>   Lihat Forum
          </button>
    			<button id="edit" type="button" class="btn btn-primary btn-md" onclick="edit()">
            <i class="fa fa-edit" style="font-size:20px"></i>  Edit
          </button>
    		</div>
    		<div><div class="status"><i class="fa fa-comment-o" style="font-size:18px"></i> Status :  {{ total }} </div></div>
    		<div class="latest">
          <h4>Status Terakhir</h4>
          <hr style="margin-top:10px;border-color:gray;width:70%;margin-bottom:10px;" />
          {{ statusku }}
        </div>
  	  </div>

      <div class="col-sm-7" id="dataContainer">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" onclick="displayProfile()">Profile</a></li>
            <li><a data-toggle="tab" onClick="displayRiwayat()">Riwayat</a></li>
            <li><a data-toggle="tab" onClick="displayStatus()">Status</a></li>
            <li><a data-toggle="tab" onClick="displayFriend()">Teman</a></li>
          </ul>
          <div class="another">
              {% block content %}
              <!-- Your Content Here -->
              {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function(){
      $("#logout").css({"display":"block"});
    });
  </script>
{% endblock %}
