*{
  font-family: 'Roboto', sans-serif;
  word-break: break-all;
}
.navbar-static-top{
  border-width: 0;
}

.tabs, .another{
  width: 100%;
  text-align: left;
}

.tabs{
  height: 100%;
}

.another{
  border: 1px solid #dad8d8;
  border-top: white;
  padding: 20px;
  height: 80%;
  overflow: auto;
}

.nav-tabs{
  padding-left: 20px;
}

.nav-tabs>li>a{
  background-color: #37b279;
  margin-right: 0px;
  color: white;
  cursor: default;
  border-top-right-radius: 15px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
  background-color: #2d8e61;
  color: black;
}

#mainContainer{
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#dataContainer{
  padding: 20px 30px;
  background-color: white;
  border-radius: 20px;
}

#photoContainer, #dataContainer{
  height: 100%;
}

#photoContainer{
  background: #093028;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #041013, #166a7d, #1d333a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #041013, #0e4754, #1d333a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#kontainer{
  height: 600px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  background-color: white;
  color: black;
}

#secCont{
  padding: 20px 0;
}

.buttons{
  display: inline-block;
  width: 100%;
  margin: 5% 0 5% 0;
}

.buttons button{
  margin: 0 2%;
  border : none;
}

.status{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
}

.latest{
  background-color: white;
  border-radius: 20px;
  margin-top: 10%;
  bottom: 0;
  min-height: 30%;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

td:first-child{
  width: 30%;
}

tr, .table>tbody>tr>td{
  vertical-align: middle;
}

#editan{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  #kontainer{
	   height: 100%;
     padding: 0 15px;
  }
  #photoContainer{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #dataContainer{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
