{% load staticfiles %}
<!-- Fixed navbar -->
    <nav style="padding:5px;" class="navbar navbar-default navbar-static-top" id="nav_design" style="background-color:black;">
      <div class="container">
        <div class="navbar-header" style="float:left;">
          <a class="navbar-brand">
            <i class="fa fa-user" aria-hidden="true" style="font-size:24px;"></i>   {{author}}
          </a>
        </div>
        <div id="logout" class="navbar-header" style="float:right;display:none;">
          <a class="navbar-brand" href="{% url 'fitur_loginStatus:auth_logout' %}">
            <i class="fa fa-sign-out" style="font-size:24px"></i>  Log out
          </a>
        </div>
      </div>
    </nav>
