{% extends "fitur_profile/profile.html" %}
{% block content %}
  <div class="form-panel-head">
			<h1 class="data">Update Status</h1>
			<form id="form" method="POST" action="{% url 'fitur_loginStatus:add-post' %}">
					{% csrf_token %}
					{{ Post_Form }}
					<br>
				<button class="button-design" type="submit">Post</button>
			</form>
		</div>
	{% endblock %}
