{% extends "fitur_profile/profile.html" %}
{% load staticfiles %}
{% block content %}
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>NPM</th>
                <th>Angkatan</th>
                <th>Expertise</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>NPM</th>
                <th>Angkatan</th>
                <th>Expertise</th>

            </tr>
        </tfoot>
        <tbody>
           <tr>
                <td>Shad Decker</td>
                <td>1284930228</td>
                <td>2009</td>
                <td>C++, Java</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>1203839387</td>
                <td>2013</td>
                <td>Javascript Developer</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>1209879556</td>
                <td>2016</td>
                <td>Python, basketball</td>
            </tr>
			<tr>
                <td>Cedric Kelly</td>
				<td>1284793098</td>
				<td>2017</td>
                <td>Javascript Developer</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>1288746652</td>
				<td>2017</td>
                <td>tidur, makan</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>1284793345</td>
				<td>2017</td>
                <td>CIA</td>
                
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>1284793098</td>
				<td>2017</td>
                <td>python, tidur</td>
                
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>1249547390</td>
				<td>2014</td>
                <td>Web Developer</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>1237466489</td>
				<td>2015</td>
                <td>Javascript, C++ </td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>1284680222</td>
				<td>2015</td>
                <td>cobol, java</td>
                
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>1248775940</td>
				<td>2016</td>
                <td>python, cobol</td>
            </tr>
            <tr>
                <td>Quinn Flynn</td>
                <td>1259538921</td>
				<td>2016</td>
                <td>http</td>
            </tr>
            <tr>
                <td>Charde Marshall</td>
                <td>1284794444</td>
				<td>2013</td>
                <td>Javascript</td>
            </tr>
            <tr>
                <td>Haley Kennedy</td>
                <td>1203892804</td>
				<td>2016</td>
                <td>frontend</td>
            </tr>
            <tr>
                <td>Tatyana Fitzpatrick</td>
                <td>1267877566</td>
				<td>2016</td>
                <td>modus</td>
            </tr>
            <tr>
                <td>Michael Silva</td>
                <td>1229830209</td>
				<td>2014</td>
                <td>Javascript Developer</td>
            </tr>
            <tr>
                <td>Paul Byrd</td>
				<td>1255968344</td>
				<td>2017</td>
                <td>Chief Financial</td> 
            </tr>
            <tr>
                <td>Gloria Little</td>
                <td>1234567890</td>
                <td>2015</td>
                <td>ruby</td>
            </tr>
			
			<tr>
                <td>Garry Lawson</td>
                <td>1248563048</td>
                <td>2013</td>
                <td>python</td>
            </tr>
			
			<tr>
                <td>Fathan Al jabeer</td>
                <td>122837433</td>
                <td>2014</td>
                <td>javascripts</td>
            </tr>
        </tbody>
    </table>
	
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>

{% endblock %}